#strCounter {
	.red {
		color: #e84118;
	}
	.blue {
		color: #00a8ff;
	}
	.yellow {
		color: #fbc531;
	}
	.green {
		color: #44bd32;
	}
	h1 {
		font-family: "Catull BQ Regular" !important;
		font-size: 50px;
		padding: 30px;
		text-align: center;
		span {
			margin: -5px;
		}
	}
	input {
		width: 70%;
		height: 40px;
		display: block;
		font-size: 25px;
		margin: 0 auto;
		background-color: whitesmoke;
		border: none;
		padding: 10px;
		height: 20px;
		border:1px solid #eaeaea;
		outline:none;

		&:hover {
			border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;		
		}
		&:focus {
			border-color:#4d90fe;
		}
	}
	#str {
		color: grey;
	}
	#strBtn {
		  margin-top: 20px;
			border-radius: 50%;
			background: #f2f2f2;
			border: 1px solid #f2f2f2;
			color: #757575;
			cursor: default;
			font-size: 20px;
			font-weight: bold;
			padding: 10px;
			&:hover {
				box-shadow: 0 1px 1px rgba(0,0,0,0.1);
				background: #f8f8f8;
				border: 1px solid #c6c6c6;
				box-shadow: 0 1px 1px rgba(0,0,0,0.1);
				color: #222;		
			}
	}
}

#searchbar {
	width: 100%;
	text-align: center;
}

#output {
	margin-top: 45px;
	width: 100%;
	font-size: 25px;
	text-align: center;
	color: black;
}






//input[type="submit"] {
//    border-radius: 2px;
//    background: #f2f2f2;
//    border: 1px solid #f2f2f2;
//    color: #757575;
//    cursor: default;
//    font-size: 14px;
//    font-weight: bold;
//    width: 100px;
//    padding: 0 16px;
//    height:36px;
//}
//input[type="submit"]:hover {
//    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
//    background: #f8f8f8;
//    border: 1px solid #c6c6c6;
//    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
//    color: #222;
//}


//				font-family: "Catull BQ Regular" !important;