* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #dcdde1;
}

p {
    font-size: 14px;
}


#main-container {
    margin: 50px 100px;
}
